@model IEnumerable<workshop_asp.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<style>
    .bg-banner {
        background: #fff url('/images/banner4.jpg') no-repeat center;
        background-size: contain;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .bg-banner__bottom {
        background: black url('/images/UV_print_bg.jpg') no-repeat center;
        background-size: cover;
        margin-top: 35px;
    }

    .title-product__bottom {
        display: flex;
        flex-direction: column;
        color: white;
        max-width: 721px;
    }

        .title-product__bottom p {
            font-size: 22px;
        }
        .title-product__bottom h1 {
            font-size: 42px;
        }

    .banner__bottom {
        height: 480px;
    }

    .banner {
        height: 600px;
    }

    .banner-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

        .slick-slide img {
            width: 100%;
        }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
        /*opacity: .2;*/
    }

    /*.slick-active {
        opacity: .5;
    }

    .slick-current {
        opacity: 1;
    }*/
</style>
<div class="bg-banner">
    <div class="banner">
        <div class="banner-title">
            <h1>Accessories to match your style.</h1>
            <p>Create the perfect desktop with our premium keyboard accessories.</p>
        </div>
    </div>
</div>

<div class="product">
    @Html.Partial("CategoryKeyCapsView")
    @Html.Partial("CategoryKeyboardsView")
</div>


<div class="bg-banner__bottom">
    <div class="banner__bottom">
        <div class="container" style="position:relative">
            <div class="title-product__bottom" style="position: absolute;top: 110px;">
                <h1>Endless print possibilities.</h1>
                <p>Our unique UV printing process gives you the flexibility to choose what you want printed on your keycaps. Choose one of our pre-made layouts or create your own!</p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).on('ready', function () {
            $('.product-auto-display').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                        }
                    }
                ]
            });
        });
    </script>
}